{% extends "digital-land-frontend/dlf-base--full-width.html" %}

{% block pageTitle %}National map of planning data | Digital Land{% endblock %}

{%- block dlMapAssets %}
<script src="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.js"></script>
<link href="https://unpkg.com/maplibre-gl@1.14.0-rc.1/dist/maplibre-gl.css" rel="stylesheet" />
<script src="./zoom-controls.js"></script>
<script src="./maplibre-layer-controls.js"></script>
<script src="./maplibre-national-map-controller.js"></script>
<script src="./dl-maps.js"></script>
{% endblock -%}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
  	<h1 class="govuk-heading-xl">National map of planning data</h1>
    </div>
</div>

<p id="aria-label-national-map" class="govuk-body-l">National map of the planning data collected and collated by Digital Land.</p>

<div class="dl-map__wrapper">

  <div class="zoom-controls" data-module="zoom-controls">
    <button class="zoom-controls__btn" data-zoom-control="in">
      <span class="govuk-visually-hidden">Zoom in</span>
      <span>+</span>
    </button>
    <span class="zoom-controls__count-container" aria-live="polite">
      <span class="govuk-visually-hidden">The map is at zoom level </span>
      <span class="zoom-controls__count">6</span>
    </span>
    <button class="zoom-controls__btn" data-zoom-control="out">
      <span class="govuk-visually-hidden">Zoom out</span>
      <span>-</span>
    </button>
  </div>

  {% macro layerControlItem(layer) %}
  <li class="govuk-!-margin-bottom-2" data-layer-control="{{ layer.dataset }}" 
  {% if layer.type %}data-layer-data-type={{layer.type}}{% endif %} 
  {% if layer.paint_options %}data-style-options="{{ layer.paint_options.colour }},{{ layer.paint_options.opacity }}"{% endif %}>
    <div class="govuk-checkboxes__item">
      <input class="govuk-checkboxes__input" id="{{ layer.dataset }}" name="{{ layer.dataset }}" type="checkbox" value="{{ layer.dataset }}" {{ "checked='checked'" if layer.checked }}>
      <label class="govuk-label govuk-checkboxes__label" for="{{ layer.dataset }}">
        {{ layer.label }}
      </label>
    </div>
  </li>
  {% endmacro %}

  <div id="mapid" style="height: 700px;" aria-labelledby="aria-label-national-map"></div>
  <div class="dl-map__side-panel dl-map__side-panel--full js-hidden">
    <div class="dl-map__side-panel__heading">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Data layers</h3>
    </div>
    <div class="dl-map__side-panel__content">
      <ul class="govuk-list govuk-!-margin-bottom-0" data-module="layer-controls">
        {% for layer in layers %}
        {{ layerControlItem(layer) }}
        {% endfor %}
        {%- if layers_with_constraint|length %}
          <p class="govuk-body govuk-!-margin-top-3 govuk-!-margin-bottom-4">Large datasets are only visible at zoom level <span data-layers-controls-zoom-constraint="10">10</span> or higher.</p>
        {% for layer in layers_with_constraint %}
        {{ layerControlItem(layer) }}
        {% endfor %}
        {% endif -%}
      </ul>
    </div>
  </div>
</div>
{% endblock %}

{% block bodyEndScripts %}
{{ super() }}
<script>
  // grab html elements
  const $controlsList = document.querySelector('[data-module="layer-controls"]')
  const $zoomMod = document.querySelector('[data-module="zoom-controls"]')
  // init national map
  const mapController = new MapController($controlsList, $zoomMod).init({})
  </script>
{% endblock %}